<div class="block-28 text-center mb-5">
  <figure>
    <%= image_tag Settings.user.author_avatar, class: "img-fluid" %>
  </figure>
  <h2 class="heading"><%= course.user.username %></h2>
  <h3 class="subheading">JavaScript Ninja</h3>
  <p>
    <a href="#" class="fa fa-twitter p-2"></a>
    <a href="#" class="fa fa-facebook p-2"></a>
    <a href="#" class="fa fa-linkedin p-2"></a>
  </p>
  <p>Hi I'm Mark Stewart, consectetur adipisicing elit. Quibusdam nulla beatae modi itaque nemo magni
    molestiae explicabo sint dolorum cum! Nam iste eligendi autem voluptates illo veritatis veniam laudantium
    enim!</p>

</div>
