<!-- Sidebar -->
<div class="bg-light border-right" id="sidebar-wrapper">
  <div class="sidebar-heading">Start Bootstrap </div>
  <div class="list-group list-group-flush">
    <%= link_to "Manage Projects", admin_projects_path, class: "list-group-item list-group-item-action bg-light" %>
    <%= link_to "Manage Users", admin_users_path, class: "list-group-item list-group-item-action bg-light" %>
    <%= link_to "Manage Images", admin_images_path, class: "list-group-item list-group-item-action bg-light" %>
  </div>
</div>
<!-- /#sidebar-wrapper -->
