<%= provide :title, "Manage projects" %>
<%= provide :Title, "Managa all projects" %>
<%= link_to "New project", new_admin_project_path, class: "btn btn-primary mt-5" %>
<table class="table table-hover mt-5">
  <thead>
    <tr class="row">
      <th scope="row" class="col-md-1 table-project">#</th>
      <th class="col-md-3 table-project">Avatar</th>
      <th class="col-md-3 table-project">Name</th>
      <th class="col-md-5 table-project">Action</th>
    </tr>
  </thead>
  <tbody>
    <%= render partial: "admin/projects/list_projects", collection: @projects, as: :project %>
  </tbody>
</table>
<div class="modal fade" id="newModal" tabindex="-1" aria-labelledby="newModalLabel" aria-hidden="true"></div>
