<%= provide :title, t(".title") %>
<%= provide :Title, t(".Title") %>
<%= link_to t(".new_category"), new_admin_category_path, class: "btn btn-primary mt-5" %>
<table class="table table-hover mt-5">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Date</th>
      <th scope="col">Action</th>
      <th scope="col">Course count</th>
    </tr>
  </thead>
  <tbody>
    <%= render partial: "admin/categories/common/row_category", collection: @categories, as: :category %>
  </tbody>
</table>
