ul.navbar-nav li.nav-item a.nav-link {
  font-size: 18px!important;
}

.site-hero.site-sm-hero.overlay {
  background-image: image-url('big_image_2.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.site-hero.site-sm-hero.overlay.site-hero-about {
  background-image: image-url('big_image_2.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.block-3.d-md-flex.pt-5.nice_text {
  background-image: image-url('img_1.jpg');
  background-repeat: no-repeat;
  background-position: left;
}

#wrapper {
  overflow-x: hidden;
}

#sidebar-wrapper {
min-height: 100vh;
margin-left: -15rem;
-webkit-transition: margin .25s ease-out;
-moz-transition: margin .25s ease-out;
-o-transition: margin .25s ease-out;
transition: margin .25s ease-out;
}

#sidebar-wrapper .sidebar-heading {
padding: 0.875rem 1.25rem;
font-size: 1.2rem;
}

#sidebar-wrapper .list-group {
width: 15rem;
}

#page-content-wrapper {
min-width: 100vw;
}

#wrapper.toggled #sidebar-wrapper {
margin-left: 0;
}

@media (min-width: 768px) {
#sidebar-wrapper {
  margin-left: 0;
}

#page-content-wrapper {
  min-width: 0;
  width: 100%;
}

#wrapper.toggled #sidebar-wrapper {
  margin-left: -15rem;
}
}

div.gallery {
  border: 1px solid #ccc;
}

div.gallery:hover {
  border: 1px solid #777;
}

div.gallery img {
  width: 100%;
  height: auto;
}

div.desc {
  padding: 15px;
  text-align: center;
}

* {
  box-sizing: border-box;
}

.responsive {
  padding: 0 6px;
  float: left;
  width: 24.99999%;
}

@media only screen and (max-width: 700px) {
  .responsive {
    width: 49.99999%;
    margin: 6px 0;
}
}

@media only screen and (max-width: 500px) {
  .responsive {
    width: 100%;
}
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

.background-image {
  width: 600;
  height: 400;
}

.avatar-project-row {
  height: 150px;
  width: 150px;
  border-radius: 50%!important;
}

.table-project {
  text-align: center;
}

i {
  vertical-align: middle;
}

.detail-project-name {
  padding-top: 5%;
  font-size: 24px;
  color: blue;
}

.myImg {
  cursor: pointer;
  transition: 0.3s;
}

.myImg:hover {opacity: 0.7;}

/* The Modal (background) */
.modalImage {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 50px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (image) */
.modalImage-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 1000px;
}

/* Caption of Modal Image */
#caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 150px;
}

/* Add Animation */
.modalImage-content, #caption {  
  -webkit-animation-name: zoom;
  -webkit-animation-duration: 0.6s;
  animation-name: zoom;
  animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
  from {-webkit-transform:scale(0)} 
  to {-webkit-transform:scale(1)}
}

@keyframes zoom {
  from {transform:scale(0)} 
  to {transform:scale(1)}
}

/* The Close Button */
.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
  .modalImage-content {
    width: 100%;
  }
}

#container {
  position: relative;
  color: white;
}

.detail-image {
  width: 100%;
}

.bottom-left {
  position: absolute;
  bottom: 8px;
  left: 16px;
}

.coordinate-text {
  position: absolute;
  font-size: 20px;
  color: blue;
  text-decoration: underline;
}

.line {
  position: absolute;
  height: 1px;
  color: white;
  background-color: red;
  transform-origin: top left;
}

.button-edit-location {
  position: absolute;
  display: none;
}

// #container:hover {
//   .button-edit-location {
//     display: inline-block;
//     opacity: .6;
//   }
// }

.box {
  position: absolute;
  background: none;
  border: 1px solid red;
  z-index: 100;
}

.location:hover {
  .button-edit-location {
    display: inline;
  }
}
