<%= provide :title, "Manage users" %>
<%= provide :Title, "Managa all users" %>
<table class="table table-hover mt-5">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Email</th>
      <th scope="col">Role</th>
      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody>
    <%= render partial: "admin/users/list_users", collection: @users, as: :user %>
  </tbody>
</table>
<div class="modal fade" id="newModal" tabindex="-1" aria-labelledby="newModalLabel" aria-hidden="true"></div>
